<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Favourite Movies</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goHome()">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="favourites.length === 0">
    <h2>No favourites yet</h2>
  </div>
  <ion-card *ngFor="let movie of favourites">
    <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" />
    <ion-card-header>
      <ion-card-title>{{ movie.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="openMovie(movie)">Details</ion-button>
      <ion-button fill="clear" color="danger" (click)="removeFromFavourites(movie)">
        <ion-icon name="trash" slot="icon-only"></ion-icon> <!--https://ionicframework.com/docs/api/buttons-->
      </ion-button>    </ion-card-content>
  </ion-card>
</ion-content>