<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      G00474271
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goFavourites()">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label slot="start" style="flex: 0 0 auto; margin-right: 16px;">Search</ion-label><!--Inline css to fix layout to keep the label and input on the same line with proper spacing- -->
    <ion-input [(ngModel)]="searchString" placeholder="Movie Name"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="search()">SEARCH</ion-button> <!-- https://ionicframework.com/docs/api/button "full" makes the button stretch to the full width of the screen-->
  <h2>{{ heading }}</h2> <!-- amended instance-->
  <ion-card *ngFor="let movie of movies" (click)="selectedMovie(movie)"> <!-- Ionic card for formatting -->
    <img *ngIf="movie.poster_path" src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" /> <!--same patter for no image applied in details-->
      <p *ngIf="!movie.poster_path">No image</p>
    <ion-card-header>
      <ion-card-title>{{ movie.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ movie.overview }}
    </ion-card-content>
  </ion-card>
</ion-content>
