<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      G00474271
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2>Today's Trending Movies</h2>
  <ion-item>
    <ion-label>Search</ion-label>
    <ion-input [(ngModel)] ="searchString" placeholder="   Movie Name"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="search()">SEARCH</ion-button> <!-- https://ionicframework.com/docs/api/button "full" makes the button stretch to the full width of the screen-->
  <h2>{{ searchString.trim() === '' ? "Today's Trending Movies" : searchString + ' Movies' }}</h2> <!-- change/amend this as this causes issues when deleting the text-->
  <ion-card *ngFor="let movie of movies" (click)="selectedMovie(movie)"> <!-- Ionic card for formatting -->
    <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" />
    <ion-card-header>
      <ion-card-title>{{ movie.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ movie.overview }}
    </ion-card-content>
  </ion-card>
</ion-content>
